*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main{
    
    display: grid;
   
    width: 80%;
    top: 50%;
    left: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    background-color: rgb(72, 78, 76);
}
 
.boxes{

}